#main-container {
    width: 1517px;
    height: 360px;
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
    justify-content: start;
    align-items: center;
    background-color: rgb(77, 77, 238);
    margin-bottom: 7px;

}

#main-heading {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 1px 1px black;
}

#number-inp {
    width: 115px;
    height: 82px;
    border: 2px solid white;
    background-color: rgb(77, 77, 238);
    margin-top: 25px;
    margin-bottom: 9px;
    border-radius: 2px;
    text-align: center;
    font-size: 50px;
    color: white;
}

#convert-btn {
    background-color: white;
    color: black;
    border: 0;
    border-radius: 8px;
    text-align: center;
    width: 103px;
    height: 42px;
    margin-top: 42px;

}


/* second part  */

#second-container {
    border: 1px solid brown;
    height: 360px;
    width: 1511px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.c2-2 {
    height: 100px;
    width: 570px;
    border: 1px solid greenyellow;
    text-align: center;
}

.second-container-heading {
    font-size: 20px;
    color: rgb(87, 87, 255);
}